'■設定ファイル
'GrowRichSlowly.vbs で使用される設定

'■共通設定
MS_PASSWORD = "hogehoge"

'■マシンごとに違う設定
'●バージョン設定
MS_WINDOW_TITLE = "Market Speed Ver15.2"
MS_WINDOW_LOGIN_TITLE = "Market Speed - ﾛｸﾞｲﾝ"

'●パス設定
MS_DIR = "C:\Program Files (x86)\MarketSpeed\MarketSpeed"
MS_EXE = "C:\Program Files (x86)\MarketSpeed\MarketSpeed\MarketSpeed.exe"

MS_LAUNCHER_DIR = "C:\Program Files (x86)\MarketSpeed\MLauncher"
MS_LAUNCHER_EXE = "C:\Program Files (x86)\MarketSpeed\MLauncher\MLauncher.exe RSS"

RSS_FILE = "C:\Users\tkido\Dropbox\xls\rss.xlsm"
