logLevel = 5
xbrlPath = /home/jenkins/xbrl
#xbrlPath = C:\\OLS\\xbrl
#xbrlPath = D:\\OLS\\xbrl
offset = 2
rssFlag = true
limit = 10
dataPath = /home/jenkins/appcheck
#dataPath = C:\\OLS\\appdata
